<h2>About Word Counter</h2>
<p><i>This website was created using django which is run on an ubuntu machine.<br />
I'm grateful for Nick Walter's course about django on udemy! Go check it out!<br />
The purpose of this website was to create an online word counter and print out:
<li>Number of words</li>
<li>Actual Text entered by the user</li>
<li>Sorted words in the order of usage</li>
<br />
Enjoy my first website!
</i></p>
<br />
<br />
<a href="{% url 'home' %}"> Go Home </a>
<br />
COPYRIGHT 2019
